<ion-menu [content]="content" id="authenticated">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title>
        <button ion-button menuClose clear class="btn_close_menu">
          <ion-icon name="md-close" color="navbar"></ion-icon>
        </button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item color="primary" (click)="onGoToHome()">
        <img src="assets/imgs/menu/home.png" alt="Home" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/perfil.png" alt="Perfil" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/call.png" alt="Call" width="30px">
      </button>
      <button  ion-item color="primary" menuClose (click)="onGoToRanking()">
        <img src="assets/imgs/menu/ranking.png" alt="Ranking" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/resumen.png" alt="Resumen" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/premios.png" alt="Premios" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/bonos.png" alt="Bonos" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/encuestas.png" alt="Encuestas" width="30px">
      </button>
      <button menuClose ion-item color="primary">
        <img src="assets/imgs/menu/terminos.png" alt="Terminos" width="30px">
      </button>
    </ion-list>



    <!--     <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list> -->
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
