page-home {
  background-image: url('../../assets/imgs/bg_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .content-md {
    background-color: transparent;
  }
  .footer-md::before{
    background-image: none;
  }

  .btn_home {

    button {
      display: block;
      margin: 15px auto;
    }
    .btn_register {
      border: 1px solid map-get($colors, blue)
    }
  }




}
